@model IEnumerable<SeurityASP.NET.Models.DataList>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .item {
            margin: 0 0 15px 0;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            width: 500px;
        }

            .item p h2 {
                margin: 0 0 5px 0;
                padding: 0;
                font-weight: bold;
                font-size: 15px;
            }
    </style>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    @foreach (var item in Model)
    {
        <div class="item">
            <h2>@item.Title</h2>
            <p>@item.Picture</p>



        </div>

    }


    <a href="@Url.Action("Logout","Login")" class="btn btn-warning">Logout</a>







</body>
</html>
